<div>
  <div>
    <h1> <%= @restaurant.name %> </h1>
    <p> <%= @restaurant.category %> </p>
    <p> <%= @restaurant.phone_number %> </p>
    <p> <%= @restaurant.address %> </p>
  </div>

  <div>
    <h3> Reviews: </h3>
    <ul>
    <% @restaurant.reviews.each do |review| %>
      <li> <%= review.content %> </li>
    <% end %>
    </ul>
  </div>

  <div>
    <%= link_to "Add a review", new_restaurant_review_path(@restaurant.id), class: "btn btn-primary" %>
  </div>

  <div>
    <%= link_to "Back to restaurants", restaurants_path, class: "btn btn-primary" %>
  </div>

</div>
